streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-pinecone
langchain-groq
pinecone>=3.0.0
sentence-transformers
pypdf
beautifulsoup4
requests
numpy